* {
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100vh;
  width: 100vw;
  border: solid grey 0.1rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 4rem;
  border: solid black 0.05rem;
}

.block {
  background-color: black;
}

.player {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: chartreuse;
}

.destenation {
  background-color: rgb(20, 73, 220);
}

span {
  user-select: none;
}

.far {
  background-color: #93ff54;
}

.notFar {
  background-color: #7ddb47;
}
.close {
  background-color: #67b43a;
}
.closer {
  background-color: #579731;
}
.closest {
  background-color: #3f6e24;
}

.superClose {
  background-color: #2d5019;
}
